/* ___________________  General Properties Start  _____________________*/


.weather-info
{
    height: 300px;
}

.rounded-top {
    border-top-left-radius: 0.45rem !important;
    border-top-right-radius: 0.45rem !important;

  }

  .rounded-bottom {
    border-bottom-right-radius: 0.45rem !important;
    border-bottom-left-radius: 0.45rem !important;
    
  }
#day1-deg-info
{
    font-size: 60px;
}
#day1-condition-icon-info
{
    width: 100px;
    height: 100px;
} 


.day-info-header
{
    background-color: #83a6b1;
   
}
.current-day-info

{
    background-color: #5de7e7;

}


.other-days-info
{
    background-color:  #5aced6;
  
   
}



#home-url
{

    color: #09c;

}
.navbar-nav .nav-item .nav-link
{

    color: white;
    transition: all 0.5s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover
{

    color: #09c;
    border-bottom: #09c 2px groove;
    border-radius: 10%;
    transition: all 0.3s ease-in-out;
}

      .social-media i
      {
        padding: 5px;
        font-size: 35px;
      text-align: center;
      }
      .social-media i:hover
{

    color: whitesmoke;
    transition: 0.3s all ease-in-out;
    
}
  


  

  footer
  {
      background-color:#272936 ;
    
  }

 .bg-black
 {
     background-color: black;
 }



 #loader
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 63, 122);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader i
{
   color: rgb(10, 199, 233);
}
body
{
    overflow: hidden;
}





@media only screen and (min-width: 900px) {
 .search-group
 {
     width:60%;
     margin:auto;
 }

  }


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {   .search-group{
    width:100%;
    margin: auto;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {  .search-group{
    width:80%;
    margin: auto;
}  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { .search-group{
    width:70%;
    margin: auto;
}



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 990px)
 { 
     
    .navbar-nav
    {
        background-color: whitesmoke;
        width: 80%;
    }
    .navbar-nav .nav-item .nav-link 
    {
        color: black;
        text-align: center;

    }



}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {      .search-group{
    width:60%;
    margin: auto;
}}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  .search-group{
    width:35%;
    margin: auto;
}}
